/* @import 'tailwindcss';
@import 'tw-animate-css';

@layer theme, base, components, utilities, antd;

#app {
  @apply h-[100vh] w-[100vw];
}

@layer components {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
} */
